.navbar{
    background: #313132;
    display: flex;
    width: 100%;
    height: 50px;
}
.navbar__items{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    list-style: none;
    color: rgb(116, 116, 116);
}
.navabr__item a{
    list-style: none;
    color: rgb(131, 131, 131);
    text-decoration: none;
    font-size: 12px;
    padding: 20px;

}
.logo{
    background-color: #fff;
}
.search{
    color: rgb(131, 131, 131);
}
.bag{
    color: rgb(131, 131, 131);
    padding-left: 20px;
}