.Accesstories{
    background-color: yellow;
    width: 100%;
    height: 500px;
}
.airpods{
    background-color: red;
    width: 100%;
    height: 500px;
}

.only{
    background-color: salmon;
    width: 100%;
    height: 500px;
}
.store{
    background-color: green;
    width: 100%;
    height: 500px;
}
.support{
    background-color: greenyellow;
    width: 100%;
    height: 500px;
}